In [1]:
# Tratamiento de datos
# -----------------------------------------------------------------------
import pandas as pd
import numpy as np

# Gráficos
# -----------------------------------------------------------------------
import seaborn as sns
import matplotlib.pyplot as plt

# Transformación de los datos
# ------------------------------------------------------------------------------
from scipy import stats
import math 
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler


# Para la gestión de los warning
# ------------------------------------------------------------------------------
import warnings
warnings.filterwarnings('ignore')

# Para poder ver todas las columnas del dataframe
# ------------------------------------------------------------------------------
pd.options.display.max_columns = None

In [14]:
df = pd.read_pickle('../datos/bikes_procesado.pkl')

In [15]:
df.head()

,day,month,year,season,weekday,workingday,holiday,weathersit,temp,hum,windspeed,casual,registered,cnt
0,1,January,2018,Winter,Monday,0,0,2,14.110847,80.5833,10.749882,331,654,985
1,1,February,2018,Winter,Thursday,0,0,2,14.902598,69.6087,16.652113,131,670,801
2,1,March,2018,Winter,Thursday,1,0,1,8.050924,43.7273,16.636703,120,1229,1349
3,1,April,2018,Spring,Sunday,1,0,1,8.200000,59.0435,10.739832,108,1454,1562
4,1,May,2018,Spring,Tuesday,1,0,1,9.305237,43.6957,12.522300,82,1518,1600

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 730 entries, 0 to 729
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   day         730 non-null    category
 1   month       730 non-null    category
 2   year        730 non-null    category
 3   season      730 non-null    category
 4   weekday     730 non-null    category
 5   workingday  730 non-null    category
 6   holiday     730 non-null    category
 7   weathersit  730 non-null    category
 8   temp        730 non-null    float64
 9   hum         730 non-null    float64
 10  windspeed   730 non-null    float64
 11  casual      730 non-null    int64
 12  registered  730 non-null    int64
 13  cnt         730 non-null    int64
dtypes: category(8), float64(3), int64(3)
memory usage: 46.0 KB

In [17]:
df_num = df.select_dtypes(include = np.number)

In [22]:
df_num.drop(['casual', 'registered', 'cnt'], axis = 1, inplace = True)

In [23]:
df_num

          temp      hum  windspeed
0    14.110847  80.5833  10.749882
1    14.902598  69.6087  16.652113
2     8.050924  43.7273  16.636703
3     8.200000  59.0435  10.739832
4     9.305237  43.6957  12.522300
..         ...      ...        ...
725  10.420847  65.2917  23.458911
726  10.386653  59.0000  10.416557
727  10.386653  75.2917   8.333661
728  10.489153  48.3333  23.500518
729   8.849153  57.7500  10.374682

[730 rows x 3 columns]

In [24]:
scaler = StandardScaler()

In [25]:
scaler.fit(df_num)

StandardScaler()

In [27]:
X_escaladas = scaler.transform(df_num)

In [28]:
num_estandar = pd.DataFrame(X_escaladas, columns = df_num.columns)
num_estandar.head(2)

       temp       hum  windspeed
0 -0.827613  1.252343  -0.387833
1 -0.722069  0.480996   0.748899

In [30]:
df_ext = df.drop(['temp', 'hum', 'windspeed'], axis = 1)

In [32]:
df_final_estandar = pd.concat([df_ext, num_estandar], axis = 1)

In [33]:
df_final_estandar

,day,month,year,season,weekday,workingday,holiday,weathersit,casual,registered,cnt,temp,hum,windspeed
0,1,January,2018,Winter,Monday,0,0,2,331,654,985,-0.827613,1.252343,-0.387833
1,1,February,2018,Winter,Thursday,0,0,2,131,670,801,-0.722069,0.480996,0.748899
2,1,March,2018,Winter,Thursday,1,0,1,120,1229,1349,-1.635432,-1.338073,0.745931
3,1,April,2018,Spring,Sunday,1,0,1,108,1454,1562,-1.615560,-0.261577,-0.389769
4,1,May,2018,Spring,Tuesday,1,0,1,82,1518,1600,-1.468226,-1.340294,-0.046477
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
725,27,December,2019,Winter,Friday,1,0,2,247,1867,2114,-1.319509,0.177576,2.059845
726,28,December,2019,Winter,Saturday,1,0,2,644,2451,3095,-1.324068,-0.264634,-0.452029
727,29,December,2019,Winter,Sunday,0,0,2,159,1182,1341,-1.324068,0.880424,-0.853182
728,30,December,2019,Winter,Monday,0,0,1,364,1432,1796,-1.310404,-1.014341,2.067858
729,31,December,2019,Winter,Tuesday,1,0,2,439,2290,2729,-1.529024,-0.352490,-0.460094

In [37]:
df_final_estandar[df_final_estandar['holiday'] == 1]

,day,month,year,season,weekday,workingday,holiday,weathersit,casual,registered,cnt,temp,hum,windspeed
16,17,January,2018,Winter,Wednesday,0,1,2,117,883,1000,-1.747645,-0.633629,0.045360
51,21,February,2018,Winter,Wednesday,0,1,2,195,912,1107,-1.050792,-0.159207,1.514183
104,15,April,2018,Spring,Sunday,0,1,1,642,2484,3126,-0.267398,0.306429,0.462900
149,30,May,2018,Spring,Wednesday,0,1,1,1549,2549,4098,1.299378,0.403071,-0.764894
184,7,April,2018,Spring,Saturday,0,1,2,3065,2978,6043,1.262945,0.072149,-1.406802
247,9,May,2018,Spring,Wednesday,0,1,2,1236,2115,3351,0.971447,1.143992,0.286389
282,10,October,2018,Autumn,Wednesday,0,1,1,1514,3603,5117,0.411232,0.745709,-1.912308
314,11,November,2018,Autumn,Sunday,0,1,1,440,2928,3368,-0.936924,-1.274978,1.602303
327,24,November,2018,Autumn,Saturday,0,1,1,560,935,1495,-0.668206,-0.551628,-0.299339
359,26,December,2018,Winter,Wednesday,0,1,1,430,887,1317,-0.950194,-0.848300,0.631810
366,1,February,2019,Winter,Friday,0,1,1,244,1707,1951,-1.216342,-1.731449,1.795730
380,16,January,2019,Winter,Wednesday,0,1,1,217,2081,2298,-1.670215,-0.739057,0.527199
415,20,February,2019,Winter,Wednesday,0,1,1,502,2627,3129,-1.178319,-0.842192,0.497843
470,16,April,2019,Spring,Tuesday,0,1,1,1198,5172,6370,0.921350,-0.463772,1.217177
512,28,May,2019,Spring,Tuesday,0,1,1,2557,3486,6043,1.185515,0.341572,0.077671
549,7,April,2019,Spring,Sunday,0,1,1,2562,4841,7403,1.604539,-0.624844,-0.716828
610,9,March,2019,Winter,Saturday,0,1,1,1965,4069,6034,1.158187,1.146916,-0.508161
645,10,August,2019,Summer,Saturday,0,1,2,874,4604,5478,-0.613551,0.575852,-0.010617
680,11,December,2019,Autumn,Wednesday,0,1,1,1097,5172,6269,-0.057889,0.801354,-0.219168
690,22,November,2019,Autumn,Friday,0,1,1,955,1470,2425,-0.850388,-0.331988,-1.775959
723,25,December,2019,Winter,Wednesday,0,1,2,440,573,1013,-1.116537,0.752970,-0.280990

In [36]:
df_final_estandar['workingday'].value_counts()

workingday
1    499
0    231
Name: count, dtype: int64

In [38]:
df_final_estandar['holiday'].value_counts()

holiday
0    709
1     21
Name: count, dtype: int64

In [ ]:
weathersit

In [34]:
si_no = {0:'No', 1:'Si'}

In [39]:
df_final_estandar[['holiday', 'workingday']] = df_final_estandar[['holiday', 'workingday']].map(si_no)

AttributeError: 'DataFrame' object has no attribute 'map'